<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="notes content">
        <h2>All notes</h2>

        <% if (notes.length > 0) { %>
            <% notes.forEach(note => { %>
                <a class="single" href="/notes/<%= note._id %>">
                    <h3 class = "title"><%= note.title %></h3>
                    <p class = "snippet"><%= note.snippet %></p>
                </a>
            <% }) %>
       <% } else{ %> 
            <p> There are no notes to show</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
